<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
          <h1 class="product-details__title"><%= prods.title %></h1>
          <div>
            <img src="<%= prods.imageUrl %>" alt="<%= prods.title %>" />
          </div>
          <h2>Price: $<%= prods.price %></h2>
          <p><%= prods.description %></p>
          <from action="/cart" method="post">
              <button class="btn" type="submit">Add to Cart</button>
              <input type="hidden" name="productId" value="<%= product.id %>">
        </main>
        <%- include('../includes/end.ejs') %>


